.exercise-list {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 99%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    color: #7F8084;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}
