<body>
    <div class="container">
        <app-coach-sidebar></app-coach-sidebar>
        <div class="content">
            <h1>Clientes</h1>
            <div class="clients">
                <div class="search-wrapper">
                    <input 
                        type="text" 
                        [(ngModel)]="searchTerm" 
                        (input)="onSearch()"
                        placeholder="Buscar"
                        class="search-input">
                    <img src="/img/Search.png" alt="search" class="search-icon">
                </div>

                <app-client-card 
                    *ngFor="let client of filteredClients"
                    [clientName]="client.name"
                    [clientId]="client.id"
                    [imageUrl]="client.image_url"
                    viewType="coach">
                </app-client-card>
            </div>
        </div>
    </div>
</body>
