<body>
    <div class="container">
        <app-admin-sidebar></app-admin-sidebar>
        <div class="content">
            <app-admin-profile
                [clientId]="clientId"
                [option]="option"
                [clientName]="clientName"
                [imgSrc]="imageUrl"
                [clientBio]="clientBio"
                [workouts]="workouts"
                [membershipDays]="membershipDays"
                [assignedClients]="assignedClients">
            </app-admin-profile>
        </div>
    </div>
</body>
