<body>
    <div class="container">
        <app-admin-sidebar></app-admin-sidebar>
        <div class="content">
            <h1>Estadísticas de Membresías</h1>
            <app-membership-stats-list *ngIf="!selectedStat"></app-membership-stats-list>
            <app-membership-payment-stats *ngIf="selectedStat === 'Pagos presenciales'"></app-membership-payment-stats>
            <app-membership-online-payment-stats *ngIf="selectedStat === 'Pagos online'"></app-membership-online-payment-stats>
            <app-membership-all-payment-stats *ngIf="selectedStat === 'Total de pagos'"></app-membership-all-payment-stats>
        </div>
    </div>
</body>
