html, body {
    margin: 0; /* Opcional: elimina los márgenes del cuerpo */
    overflow-x: hidden;
    padding: 0; /* Opcional: elimina el padding del cuerpo */
    /*overflow-x: hidden; /* Evita el scroll horizontal */
}

.container{
    display: flex;
    height: 100vh;
    overflow: hidden; /* Evita scroll en el contenedor principal */
}

.content{
    flex-grow: 1; /* El contenido principal ocupa el espacio restante */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Permite scroll vertical solo en el contenido */
    overflow-x: hidden; /* Esconde el scroll horizontal */
    height: 100vh;
    box-sizing: border-box;
}

/* Estilizar la barra de scroll */
.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.content h1{
    color: #7F8084;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.clients{
    background-color: #ffffff; /* Cambia el color a un gris claro */
    padding: 10px; /* Agrega algo de padding para mejor visibilidad */
    border-radius: 10px; /* Opcional: bordes redondeados */
    width: 99%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.labels-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    color: #7F8084;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.blueLabel {
    color: #1680EA;
    font-family: Arial, sans-serif;
    font-size: 20px;
}