<!-- src/app/mircro-components/routine-header/routine-header.component.html -->
<div class="header-container">
    <div class="stat-group">
        <span class="label">Duracion</span>
        <span class="value time">{{ tiempoFormateado }}</span>
    </div>

    <div class="stat-group">
        <span class="label">Volumen</span>
        <span class="value volume">{{ volumen }} kg</span>
    </div>

    <div class="stat-group">
        <span class="label">Series</span>
        <span class="value series">{{ series }}</span>
    </div>

    <app-btn 
        class="terminar-btn" 
        buttonText="Terminar" 
        buttonWidth="10%" 
        buttonFontSize="16px" 
        type="button"
        [disabled]="!allSetsCompleted"
        (click)="onFinishClick()">
    </app-btn>
</div>