<body>
    <div class="container">
        <app-coach-sidebar></app-coach-sidebar>
        <div class="content">
            <div class="profile">
                <div class="container2">
                    <div class="pfp">
                        <img [src]="imgSrc">
                    </div>
                    <div class="info">
                        <p class="label">{{clientName}}</p>
                        <p class="label">{{clientBio}}</p>
                    </div>
                </div>
                <div class="stats-group">
                    <label class="label">Entrenamientos</label>
                    <label class="blackLabel">{{workouts}}</label>
                </div>
                <div class="buttons" *ngIf="isResponsible">
                    <app-grey-btn buttonText="Estadisticas" imgSrc="img/Grey-analytics.png"></app-grey-btn>
                    <app-grey-btn buttonText="Rutinas" imgSrc="img/Grey-dumbbell.png"></app-grey-btn>
                </div>
            </div>
            <app-btn 
                *ngIf="!isResponsible" 
                buttonText="Agregar cliente"
                (click)="assignClient()">
            </app-btn>
        </div>
    </div>
</body>
