<!-- src/app/mircro-components/exercise-card/exercise-card.component.html -->
<div class="exercise-container">
  <div class="exercise-header">
    <img [src]="imageUrl" alt="Exercise Image" />
    <label>{{ exerciseName }}</label>
  </div>

  <div class="table-container">
    <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
      <table>
        <thead>
          <tr>
            <th>Serie</th>
            <th>KG</th>
            <th>REPS</th>
            <th><img src="img/check.png" /></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serie of series" [formGroup]="serie.form" [class.completed-row]="serie.form.controls['completed'].value">
            <td>{{serie.index}}</td>
            <td>
              <input type="number" formControlName="kg" placeholder="KG" />
            </td>
            <td>
              <input type="number" formControlName="reps" placeholder="REPS" />
            </td>
            <td>
              <input type="checkbox" 
                     [formControlName]="'completed'" 
                     class="custom-checkbox" 
                     [id]="serie.uniqueId">
              <label [for]="serie.uniqueId">
                <img *ngIf="!serie.form.get('completed')?.value" src="img/check2.png" class="check-icon"/>
                <img *ngIf="serie.form.get('completed')?.value" src="img/check2-green.png" class="check-icon"/>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>