html, body {
    margin: 0; /* Opcional: elimina los márgenes del cuerpo */
    overflow-x: hidden;
    padding: 0; /* Opcional: elimina el padding del cuerpo */
    /*overflow-x: hidden; /* Evita el scroll horizontal */
}

.container{
    display: flex;
    height: 100vh;
}

.content{
    flex-grow: 1; /* El contenido principal ocupa el espacio restante */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content h1{
    color: #7F8084;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.recipes{
    background-color: #ffffff; /* Cambia el color a un gris claro */
    padding: 10px; /* Agrega algo de padding para mejor visibilidad */
    border-radius: 10px; /* Opcional: bordes redondeados */
    width: 99%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}