<body>
    <div class="container">
        <app-coach-sidebar></app-coach-sidebar>
        <div class="content">
            <h1>Asignar rutina {{clientName}}</h1>
            <div class="clients">
                <app-add-routine-card routineName="Rutina 1"></app-add-routine-card>
                <app-add-routine-card routineName="Rutina 2"></app-add-routine-card>
                <app-add-routine-card routineName="Rutina 3"></app-add-routine-card>
            </div>
        </div>
    </div>
</body>